<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!-----------------------------------------------------------END OF NAV BAR--------------------------------------------------------------------------------------------------------------------------------->
    <div class="frame1-container ">
        <div id="frame1">

            <h1>
                India's Fastest Growing Legal Company.
            </h1>
            <h4>
                That's one company every 9 minutes.
            </h4>
            <div class="search">
                <span>
                            <img data-src="https://a.vakilsearch.com/live-images/website_revamp/search-bar.svg" alt="" class="home-search-icon" src="https://a.vakilsearch.com/live-images/website_revamp/search-bar.svg">
                        </span>
                <input id="inputID" type="text" placeholder="Search through all our services">
            </div>




            <div class="tags-container">
                <div id="title-tag">
                    <p>Famous : </p>
                </div>
                <div class="tag">
                    <p><a href="#">Company Registration</a></p>
                </div>
                <div class="tag">
                    <p><a href="#">GST Filing</a></p>
                </div>
                <div class="tag">
                    <p><a href="#">Marriage Registration</a></p>
                </div>
                <div class="tag">
                    <p><a href="#">Trademark</a></p>
                </div>

            </div>
            <div class="feature-container">
                <div class="feature">
                    <div class="image"><img data-src="https://a.vakilsearch.com/live-images/website_revamp/icon-lawyers.svg" alt="" width="40px" height="auto" class="homepage-vsleads-icons" src="https://a.vakilsearch.com/live-images/website_revamp/icon-lawyers.svg"></div>
                    <div>
                        <div class="topic">
                            <h7>Lawyers</h7>
                        </div>
                        <p>
                            Documents, contracts and advice, done right.
                        </p>
                    </div>
                </div>
                <div class="feature">
                    <div class="image"><img data-src="https://a.vakilsearch.com/live-images/website_revamp/icon-ca.svg" alt="" width="40px" height="auto" class="homepage-vsleads-icons" src="https://a.vakilsearch.com/live-images/website_revamp/icon-ca.svg"></div>
                    <div>
                        <div class="topic">
                            <h7>Chartered Accountants</h7>
                        </div>
                        <p>
                            Your books are in safe hands.
                        </p>
                    </div>
                </div>
                <div class="feature">
                    <div class="image"><img data-src="https://a.vakilsearch.com/live-images/website_revamp/icon-cs.svg" alt="" width="40px" height="auto" class="homepage-vsleads-icons" src="https://a.vakilsearch.com/live-images/website_revamp/icon-cs.svg"></div>
                    <div>
                        <div class="topic">
                            <h7>Company Secretaries</h7>
                        </div>
                        <p>
                            Your business' compliance checklist, completed.
                        </p>
                    </div>
                </div>


            </div>
        </div>



        <div class="right">
            <button id="show">Sign Up</button>

            <div class="form-container">
                <button id="hide">X</button>
                <form class="signup" action="">
                    <h3>Create an account</h3>
                    <label for="name">Your Name</label>
                    <input type="text" id="name" name="name">

                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email">

                    <label for="address">Address</label>
                    <input type="text" id="address" name="address">

                    <label for="dob">DOB</label>
                    <input type="date" id="dob" name="dob">

                    <label for="acn">Adhaar Card Number</label>
                    <input type="number" id="acn" name="dacn">
                    <br>
                    <input type="submit" value="SUBMIT">


                </form>
            </div>
            <div id="ad1"><img src="assets/images/WhatsApp%20Image%202020-05-16%20at%2011.55.44%20PM.jpeg"></div>
        </div>
    </div>



    <div id="line" class="row"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 company-container">
                <h3>400,000 clients and counting ...</h3>

                <div>
                    <ul id="company">
                        <li> <img data-src="https://a.vakilsearch.com/live-images/website_revamp/oyo-rooms.svg" alt="Logo of VakilSearch premium customer UrbanClap" class="" src="https://a.vakilsearch.com/live-images/website_revamp/oyo-rooms.svg"> </li>
                        <li>
                            <img data-src="https://a.vakilsearch.com/live-images/website_revamp/taxi.svg" alt="Logo of VakilSearch premium customer taxi for sure" class="" src="https://a.vakilsearch.com/live-images/website_revamp/taxi.svg"> </li>
                        <li> <img data-src="https://a.vakilsearch.com/live-images/website_revamp/bb.svg" alt="Logo of VakilSearch premium customer bigbasket" class="" src="https://a.vakilsearch.com/live-images/website_revamp/bb.svg"> </li>
                        <li> <img data-src="https://a.vakilsearch.com/live-images/website_revamp/hdfc.svg" alt="Logo of VakilSearch premium customer hdfc" class="" src="https://a.vakilsearch.com/live-images/website_revamp/hdfc.svg"> </li>
                        <li> <img data-src="https://a.vakilsearch.com/live-images/website_revamp/amazon-grey.svg" alt="Logo of VakilSearch premium customer amazon" class="" src="https://a.vakilsearch.com/live-images/website_revamp/amazon-grey.svg"> </li>
                        <li>
                            <img data-src="https://a.vakilsearch.com/live-images/website_revamp/jamb.svg" alt="Logo of VakilSearch premium customer jamboree" class="" src="https://a.vakilsearch.com/live-images/website_revamp/jamb.svg"> </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="container bg-dark text-dark">
        <h2 class="text-center text-white">Our Services</h2>
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#menu1" role="tab" aria-controls="menu1" aria-selected="true"><strong>Business Registrations</strong></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#menu2" role="tab" aria-controls="menu2" aria-selected="false"><strong>Mandatory Compliances</strong></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#menu3" role="tab" aria-controls="menu3" aria-selected="false"><strong>Govt Licenses &amp; Registrations</strong></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#menu4" role="tab" aria-controls="menu4" aria-selected="false"><strong>Tax Registrations</strong></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#menu5" role="tab" aria-controls="menu5" aria-selected="false"><strong>Property &amp; Personal</strong></a>
            </li>
        </ul>

        <div class="tab-content text-white" id="myTabContent">
            <div class="tab-pane fade show active" id="menu1" role="tabpanel" aria-labelledby="home-tab">
                <div class="row" style="padding: 2%;">
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">Private Limited Company</h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹6999</h2>
                                    <p><small>* All Inclusive</small></p>
                                </div>
                                <p class="card-text">The default option for start-ups and growing businesses as only private limited companies can raise venture capital. This type of company offers limited liability for its shareholders with certain restrictions placed on
                                    the ownership. Private limited company registration, directors may be different from shareholders.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">Limited Liability Partnership</h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹5999</h2>
                                    <p><small>(Govt. fees on actuals)</small></p>
                                </div>
                                <p class="card-text">LLP was introduced to provide a form of business that is easy to maintain and to help owners by providing them with limited liability. Limited Liability Partnership Registration combines the benefits of a partnership with
                                    that of a limited liability company.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">One Person <br> Company</h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹6999</h2>
                                    <p><small>* All Inclusive</small></p>
                                </div>
                                <p class="card-text">The best structure for solo entrepreneurs looking beyond the opportunities a sole proprietorship affords. Here, a single promoter gains full authority over the company, restricting his/her liability towards their contributions
                                    to the enterprise. The said person will be the sole shareholder and director.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">Partnership <br> Firm</h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹2999</h2>
                                    <p><small>* Exclusive of Taxes</small></p>
                                </div>
                                <p class="card-text">A business structure in which two or more individuals manage a business per the terms in Partnership Deed. It’s best suitable for home businesses that are unlikely to take any debt due to low cost, ease of setting up and
                                    minimal compliance requirements.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="menu2" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row" style="padding: 2%;">
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">Maintain your Accounts</h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹6999</h2>
                                    <p><small>* Exclusive of Taxes</small></p>
                                </div>
                                <p class="card-text">Accounting, a process of storing, sorting and recording financial transactions, is required to be submitted by all businesses at the time of filing their tax returns. Maintaining the books in-house will certainly reduce
                                    pains in complying with the requirements of the IT Department.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">Annual Compliances for Pvt. Ltd.</h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹12799</h2>
                                    <p><small>* Exclusive of Taxes</small></p>
                                </div>
                                <p class="card-text">According to the Companies Act 2013, all Private Limited Companies have to fulfil the mandatory compliances. All the benefits of a private limited company, such as the ability to raise capital easily and accommodate shareholders,
                                    come at the cost of increased compliance.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">Due Digilence of Company</h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹14999</h2>
                                    <p><small>* Exclusive of Taxes</small></p>
                                </div>
                                <p class="card-text">Due diligence is generally conducted by investors to check for regulatory and process compliance by the company on a regular basis. It is performed before any private equity investment, business sale, bank loan funding,
                                    etc.
                                </p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">Secretarial Audit Package for Company</h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹49999</h2>
                                    <p><small>* Exclusive of Taxes</small></p>
                                </div>
                                <p class="card-text">Secretarial audit is conducted to check compliance of various legislations including the Companies Act and other corporate and economic laws applicable to the company.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="menu3" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row" style="padding: 2%;">
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">Shop &amp; Establishment Registrations
                                </h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹6000</h2>
                                    <p><small>* Exclusive of Taxes</small></p>
                                </div>
                                <p class="card-text">The Shops and Establishments Act regulates the conditions of work, lists the rights of employees in the unorganised sector and provides a list of obligations for every employer. It is mandatory for every establishment to
                                    be registered within 30 days of commencement.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">FSSAI<br> Registration
                                </h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹3500</h2>
                                    <p><small>* Exclusive of Taxes</small></p>
                                </div>
                                <p class="card-text">Any entrepreneur looking to start a food business - packaging, processing, distribution, etc have to obtain a valid Food Safety and Standard Authority of India license. FSSAI monitors these businesses under the guidelines
                                    and regulations listed in FSSAI Act 2006.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">ISO<br> Registration
                                </h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹9999</h2>
                                    <p><small>* Exclusive of Taxes</small></p>
                                </div>
                                <p class="card-text">International Standards Organization (ISO) is an independent organization that sets the standards for businesses in terms of quality, safety, and efficiency of products. An ISO registration enhances the reputation of your
                                    service or product.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">Import &amp; Export<br> Code
                                </h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹4500</h2>
                                    <p><small>* Exclusive of Taxes</small></p>
                                </div>
                                <p class="card-text">Import Export (IE) Code is issued by DGFT – Director General of Foreign Trade, Ministry of Commerce, Government of India to all businesses involved in importing or exporting goods and services from India.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="menu4" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row" style="padding: 2%;">
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">Goods &amp; Service Tax Registration
                                </h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹999</h2>
                                    <p><small>* Exclusive of Taxes</small></p>
                                </div>
                                <p class="card-text">GST is the all-in-one tax that covers all businesses, whether service or manufacturing. Taxpayers with a turnover of less than Rs.1.5 crore can opt for composition scheme to get rid of tedious GST formalities and pay GST
                                    at a fixed rate of turnover.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">Professional Tax Registration
                                </h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹6500</h2>
                                    <p><small>* Exclusive of Taxes</small></p>
                                </div>
                                <p class="card-text">Professional Tax is a state-level tax that applies to salaried employees and professionals, including chartered accountants, lawyers, doctors, media agencies, etc. Professional tax payment will always have distinct rates
                                    that keep varying from state to state.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">Income Tax<br> Return
                                </h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹499</h2>
                                    <p><small>* Exclusive of Taxes</small></p>
                                </div>
                                <p class="card-text">Income tax is levied on the income of a person at specified rates and is paid directly to the Central government. The statement of income is furnished on the prescribed forms such as ITR 1, ITR 2, ITR 3, etc. that differ
                                    depending on the income.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">TDS<br> Return
                                </h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹2499</h2>
                                    <p><small>* Exclusive of Taxes</small></p>
                                </div>
                                <p class="card-text">An employer or company that has valid TAN - Tax Collection and Deduction Account Number can file for TDS return. Any individual or business who makes a particular payment which is stated under the I-T Act needs to deduct
                                    tax at source.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="menu5" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row" style="padding: 2%;">
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">Property<br> Registration
                                </h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹9999</h2>
                                    <p><small>* Exclusive of Taxes</small></p>
                                </div>
                                <p class="card-text">A property document is an agreement that covers comprehensively the terms on which a property’s sale will take place, the conditions, and the date on which the sale will be completed. We will assign you expert lawyers who
                                    will estimate the value of the property accurately.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">Property<br> Verification
                                </h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹4999</h2>
                                    <p><small>* Exclusive of Taxes</small></p>
                                </div>
                                <p class="card-text">Before purchasing a property, complete verification of the documents helps buyers get the required information, genuineness and reliability of the property. Document requirement may vary based on the state of purchase.
                                    The process can be smoothly done with our expert lawyers.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">Succession<br> Certificate
                                </h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹19999</h2>
                                    <p><small>* Exclusive of Taxes</small></p>
                                </div>
                                <p class="card-text">Succession Certificate is a certificate granted by Civil Courts in India to the legal heirs of a person dying intestate leaving debts and securities. It entitles the holder to make payment of the debt or transfer securities
                                    to the holder of the certificate.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title text-center">Name<br> Change
                                </h5>
                                <div class="border border-warning rounded text-center">
                                    <h6>Starting</h6>
                                    <h2>₹5000</h2>
                                    <p><small>* Exclusive of Taxes</small></p>
                                </div>
                                <p class="card-text">Irrespective of why an individual changes the name, it has to be done legally. The publication in Central Gazette is mandatory to get the name changed across all the government records. Vakilsearch provides one of the best
                                    online name change services in India.</p>
                                <a href="#" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row " style="width: 100vw;">
        <div class="col frame2">
            <div>
                <h4> Reasons Why Our Customers <span></span> Us!</h4>
            </div>
            <div class="benefit-container">
                <div class="benefit">
                    <div class="b-image"><img data-src="https://a.vakilsearch.com/live-images/website_revamp/search.svg" alt="" width="38px" height="auto" class="" src="https://a.vakilsearch.com/live-images/website_revamp/search.svg"></div>
                    <h7><b>Vibrant Team</b></h7>
                    <p>A talented workforce that works in collaboration with a network of over hundreds Professionals</p>
                </div>
                <div class="benefit">
                    <div class="b-image"><img data-src="https://a.vakilsearch.com/live-images/website_revamp/truley-digital.svg" alt="" width="60px" height="auto" class="" src="https://a.vakilsearch.com/live-images/website_revamp/truley-digital.svg"></div>
                    <h7><b>24/7 Support</b></h7>
                    <p>Get support through phone, email, or live chat - 24/7, 365 days.</p>
                </div>

                <div class="benefit">
                    <div class="b-image"><img data-src="https://a.vakilsearch.com/live-images/website_revamp/fast.svg" alt="" width="60px" height="auto" class="" src="https://a.vakilsearch.com/live-images/website_revamp/fast.svg"></div>
                    <h7><b>EMI Payment</b></h7>
                    <p>Easily pay online with EMI payments, credit or debit card, net banking, PayPal and more.</p>
                </div>

                <div class="benefit">
                    <div class="b-image"><img data-src="https://a.vakilsearch.com/live-images/website_revamp/affordable.svg" alt="" width="50px" height="auto" class="" src="https://a.vakilsearch.com/live-images/website_revamp/affordable.svg"></div>
                    <h7><b>Online Ease Local Reach</b></h7>
                    <p>Easy Online process with 100+ offline store.</p>
                </div>

                <div class="benefit">
                    <div class="b-image "><img data-src="httkilsearch.com/live-images/website_revamp/300-services.svg" alt="" width="50px" height="auto" class="" src="https://a.vakilsearch.com/live-images/website_revamp/300-services.svg"></div>
                    <h7><b>100% Legal</b></h7>
                    <p>No 3rd party involved and 100% certified documents</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row " style="width: 100vw;">
        <div class="col frame3">
            <div>
                <h4>What people say about us</h4>
            </div>
            <div class="comment-container">
                <div class="comments">
                    <div id="cmnt1">
                        <span>image</span>
                        <div class="message">
                            <p>
                                hey my name is bla bla bla and this company is v.good as compared to other company. they provide better facilities and homes and cars too..
                            </p>
                        </div>
                        <div>
                            <div>image </div>
                            <h8>name</h8>
                            <p>company</p>
                        </div>
                    </div>
                </div>
                <div class="comments">
                    <div id="cmnt1">
                        <span>image</span>
                        <div class="message">
                            <p>
                                hey my name is bla bla bla and this company is v.good as compared to other company. they provide better facilities and homes and cars too..
                            </p>
                        </div>
                        <div>
                            <div>image </div>
                            <h8>name</h8>
                            <p>company</p>
                        </div>
                    </div>
                </div>
                <div class="comments">
                    <div id="cmnt1">
                        <span>image</span>
                        <div class="message">
                            <p>
                                hey my name is bla bla bla and this company is v.good as compared to other company. they provide better facilities and homes and cars too..
                            </p>
                        </div>
                        <div>
                            <div>image </div>
                            <h8>name</h8>
                            <p>company</p>
                        </div>
                    </div>
                </div>
                <div class="comments">
                    <div id="cmnt1">
                        <span>image</span>
                        <div class="message">
                            <p>
                                hey my name is bla bla bla and this company is v.good as compared to other company. they provide better facilities and homes and cars too..
                            </p>
                        </div>
                        <div>
                            <div>image </div>
                            <h8>name</h8>
                            <p>company</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row " style="width: 100vw;">
        <div class="col frame4">
            <div>
                <h4>We've got the world talking about us</h4>
            </div>
            <div class="company-container">
                <div class="c-image"></div>
                <div class="c-image"></div>
                <div class="c-image"></div>
                <div class="c-image"></div>
                <div class="c-image"></div>
            </div>
        </div>
    </div>
    <div class="container bg-dark text-dark">
        <h2 class="text-center text-white">Adding Tailwinds to our journey</h2>
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#menu11" role="tab" aria-controls="menu1" aria-selected="true"><strong>Investors</strong></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#menu12" role="tab" aria-controls="menu2" aria-selected="false"><strong>Partners</strong></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#menu13" role="tab" aria-controls="menu3" aria-selected="false"><strong>Advisors</strong></a>
            </li>
        </ul>
        <div class="tab-content text-white" id="myTabContent">
            <div class="tab-pane fade show active" id="menu11" role="tabpanel" aria-labelledby="home-tab">
                <div class="row" style="padding: 2%;">
                    <img class="img-thumbnail col-sm-2 mx-auto img-responsive full-width">
                    <img class="img-thumbnail col-sm-2 mx-auto img-responsive full-width">
                    <img class="img-thumbnail col-sm-2 mx-auto img-responsive full-width">
                    <img class="img-thumbnail col-sm-2 mx-auto img-responsive full-width">
                </div>
            </div>
            <div class="tab-pane fade" id="menu12" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row" style="padding: 2%;">
                    <img class="img-thumbnail col-sm-2 mx-auto img-responsive full-width">
                    <img class="img-thumbnail col-sm-2 mx-auto img-responsive full-width">
                    <img class="img-thumbnail col-sm-2 mx-auto img-responsive full-width">
                    <img class="img-thumbnail col-sm-2 mx-auto img-responsive full-width">
                </div>
            </div>
            <div class="tab-pane fade" id="menu13" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row" style="padding: 2%;">
                    <img class="img-thumbnail col-sm-2 mx-auto img-responsive full-width">
                    <img class="img-thumbnail col-sm-2 mx-auto img-responsive full-width">
                    <img class="img-thumbnail col-sm-2 mx-auto img-responsive full-width">
                    <img class="img-thumbnail col-sm-2 mx-auto img-responsive full-width">
                </div>
            </div>
        </div>
    </div>

    <!------------------------------------FOOTER---------------------------------->

</body>

</html>