body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
}

li {
    list-style: none;
}

.progress-bar {
    border: black;
    margin: black;
}


/*===========================form==========================*/

input,
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/*===========================cart==========================*/

.card-header {
    background-color: cadetblue;
    color: black;
}

.card-body {
    color: black;
}

.user-image {
    border-radius: 35%;
    width: 25%;
}

.order {
    float: left;
}


/*===========================scrollbar==========================*/


/* width */

::-webkit-scrollbar {
    width: 20px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*==============================================================*/


/*------------------------------NAV-BAR--------------------------*/

.navbar {
    overflow: hidden;
    background-color: #333;
    color: white;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    color: white;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    border: #ffc107 solid;
    border-radius: 12%;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*================================================================*/

.dropdown-menu {
    min-width: 350px;
}

.dropdown-menu.columns-2 {
    min-width: 700px;
}

.dropdown-menu.columns-3 {
    min-width: 1050px;
}

.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}

.multi-column-dropdown {
    list-style: none;
}

.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}

.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}

.fa {
    padding: 5px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-whatsapp {
    background: rgb(18, 177, 26);
    color: white;
}


/*=================================================================*/

input,
select {
    border: 0;
    outline: none;
    width: 100%;
}

input:focus {
    outline: none;
}

.row {
    position: relative;
}

.basic {
    z-index: 2;
    position: relative;
    /*margin-left: 65.5px;*/
}

@media only screen and (max-width: 576px) {
    .basic {
        margin-left: 0;
    }
}

.basic h1 {
    font-size: 45px;
    margin-top: 17vh;
}

.basic h4 {
    font-weight: 400;
}


/*-----------------------------------------------------------------*/


/*-------------------------------Background-------------------*/


/*#frame1:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url(https://a.vakilsearch.com/qe-images/website_revamp/banner-background.svg);
    background-size: cover;
   opacity: 0.5;
}*/

.frame1 {
    margin: 0 0 0 0;
}

.frame1-container {
    margin: 8vh 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


/*--------------------------------FAMOUS---------------------------*/

.tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 5vh 0;
}

.tag {
    border: 0.5px solid gray;
    border-radius: 18px;
    width: auto;
    padding: 2px 15px;
    font-size: 12px;
    margin: 0 3px 4px 3px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.8);
}

.tag p a {
    font-size: 12px;
    color: black;
    font-weight: 400;
}

.title-tag {
    font-weight: 500;
    font-size: 12px;
}

.tag:hover {
    background-color: #ffc107;
    border: 0.5px solid dimgray;
}

.tag:hover p a {
    color: white;
    text-decoration: none;
}


/*-------------------------FEATURES-------------------------------*/

.feature-container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.3);
}

.feature {
    display: flex;
    flex-direction: row;
    margin: 2px 4px;
    width: 190px;
}

.feature h7 {
    font-weight: 500;
    font-size: 14px;
}

.topic {
    margin-top: 10px;
    height: 60px;
}

.feature div p {
    color: dimgray;
    font-size: 12px;
    font-weight: 400;
}

.image {
    position: relative;
    background: #f7f7f7;
    border-radius: 50%;
    padding: 30px;
    width: 30px;
    height: 30px;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

.image img {
    position: absolute;
    top: 8px;
    left: 10px;
}


/*-------------------------------------------------------------*/


/*------------------------FORM---------------------------------*/

@media only screen and (max-width: 576px) {
    .right {
        margin-top: 10vh;
    }
    .frame1 {
        margin-left: 30px;
    }
    .search {
        width: 425px;
    }
    .search input {
        width: 385;
    }
    .company li {
        margin-bottom: 30px;
    }
}

.right {
    display: flex;
    flex-direction: column;
}

.signup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 7vh;
}

.signup h3 {
    text-align: center;
    color: white;
    position: absolute;
    top: -15vh;
    left: 35vw;
    font-size: 50px;
}

.form-container {
    border: 2px solid gray;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    position: relative;
    border-radius: 4px;
    height: 75vh;
    width: 400px;
    margin: 0 0 0 0;
    display: none;
}

.signup input {
    width: 300px;
    height: 5vh;
    border: 1px white solid;
    align-items: center;
    border-radius: 4px;
    padding: 0 5px;
    margin-bottom: 5vh;
    margin-top: 4px;
}

.signup label {
    font-size: 14px;
    margin: 0;
    color: white;
    text-align: left;
}

input[type="submit"] {
    background-color: lightgray;
    color: white;
    font-size: 20px;
}

input[type="submit"]:hover {
    background-color: #ffc107;
    color: white;
    box-shadow: 0px 0px 1px 1px #ffc107;
}

@media only screen and (max-width: 576px) {
    .signup h3 {
        position: absolute;
        left: 0;
        font-size: 50px;
    }
}


/*=================================================*/

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10vh;
    width: 100%;
    text-align: center;
}

.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 60px;
    color: white
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/*-----for removing the inner arrow in input[type=number]----------*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/*-----------------------------AD----------------------------------*/

.size {
    height: 50vh;
}

.ad1 {
    width: 400px;
    margin: 5vh 0 0 0;
}


/*-----------------------------------------------------------------*/

.ad1 img {
    height: 55vh;
    width: 400px;
}


/*//--------------------------line--------------------------*/

.line {
    width: 60vw;
    border: 1px solid gray;
    margin: 10vh 0 0 20vw;
}

.line1 {
    width: 93vw;
    border: 0.5px solid gray;
    margin: 3vh 0 1vw 3vw;
}

.line12 {
    width: 76vw;
    border: 0.5px solid gray;
    margin: 6vh 0 5vh 230px;
}


/*-----------------------------------------------------------------*/


/*============4000 and counting=================*/

.company-container {
    margin: 10vh 0 5vh 0;
    display: flex;
    flex-direction: column;
}

.company-container h3 {
    margin: 0 0 5vh 3vw;
}

.company {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.company li {
    margin: 0 5vw 2vw 5vw;
}


/*---------------------------5-reasons---------------------*/

.frame2 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0;
}

.benefit-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: space-around;
    margin-left: 10vw;
}

.benefit {
    width: 300px;
    margin: 20px 0;
    text-align: center;
}

.frame2 div h4 {
    text-align: center;
    margin: 30px 0;
}

.b-image {
    display: flex;
    justify-content: center;
}


/*========================COMMENTS=====================*/


/*.comment-container::-webkit-scrollbar {
    display: none;
}*/

@media only screen and (max-width: 576px) {
    .line12 {
        width: 50vw;
        border: 0.5px solid gray;
        margin: 6vh 0 5vh 220px;
    }
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 30px 70px 30px;
    border: 1px solid gray;
    padding: 50px 0 0 10px;
}

.message {
    width: 400px;
}


/*-------------------------------TOP-COMPANY--------------*/

.frame4 {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 90vw;
}

.frame4 div h4 {
    text-align: center;
}

.company-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
}

.c-image {
    height: 15%;
    width: 15%;
    align-items: center;
    text-align: center;
    margin: 0 10px 0 10px;
}


/*----------------------------------------------------------------------------------------------FOOTER---------------------*/

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    position: relative;
}

.navbar-brand1 {
    position: absolute;
    top: 25px;
    left: 60px;
}

.footer-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 97vw;
}

.footer-1-a {
    width: 250px;
}

.footer-1-a ul li a {
    color: #7a7a7a;
    font-weight: 400;
    font-size: 13px;
    opacity: 1
}

.footer-1-a ul li p {
    color: lightgray;
    text-transform: capitalize;
    font-weight: 500;
    padding-top: 20px;
}

.footer-1-a ul li a:hover {
    color: darkgrey;
    transition: all 0.8s;
}

.footer-3-a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-3-a li {
    margin: 0 10px 0 10px;
}

.footer-3-a li a {
    color: lightgray;
}

.footer-3-a li a:hover {
    color: gray;
    transition: all 0.8s;
}

.footer-4 {
    width: 90vw;
    margin: 0 0 0 4vw;
}

.footer-4 p {
    color: #555;
    font-size: 12px;
    text-align: left;
}

.footer-4 h7 {
    font-size: 12px!important;
    font-weight: 600!important;
    opacity: 1;
    color: #436aee!important;
}

.footer-6 p {
    font-family: 'Roboto';
    color: #555;
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
    width: 90vw;
    margin: 0 0 10px 4vw;
}


/*=======================COLOURS===============*/

.yellow {
    color: #ffc107;
}