{% extends "base.html" %}

{% block content %}





    <h1 style="text-align:center  ;font-size: 250px; font-weight: 400; font-family:cursive ">Welcome,</h1><br>
    <h1 style="text-align:center">Blogers<small>This is a special blog created by <a href="https://github.com/FalseG0d">FalseG0d</a> as a one day coding challenge for development purposes.</small></h1>
    <br><hr><br><br>
    <h4 style="text-align: center;">This is the home site and will be used as a walkthrough for the Blog. <br>1. On the top right section of the page you will find
        a purple icon click it any time to to get back to this home page. <br>2. Next we have the login page(If you are not already logged in) use it to 
        login as the super user of the blog. Id and Password must have been provided to you.<br>3. Now we have the create icon, once you are logged in you can post your opinions
        using this blog forum.<br>4. Any time someone tries to open a page they are not authorized to HTTP404 is raised.<br>
        5. Login in to blog<br>6. Goto Posts to find out what others have posted so far<br>6.a. Only registered users can Post.
        <br>6.b. You can even set the timer for a post to go public on a specific time.<br> 6.c.You can hold a post indefinitely using Draft<br>
        7. Click view to learn more about the post.<br>
        7.a. To learn more about the post <br>7.b. You can use your facebook profile to comment and like on the post.
        <br>7.c You can further share the posts on other Social Media Handles.<br>
        8. To edit a post click view and on the search bar add '/edit'

    </h4>



{% endblock content %}